*{
    margin: 0;
    padding: 0;
    font-family: all;
}

div#nav div.nav_left img{
    width: 60px;
    height: 60px;
    /* vertical-align: bottom; */
    
}

div#nav div.nav_left h1{
    font-family: logo;
    display: inline-block;
    margin: 10px;
    vertical-align: bottom;
}

div#nav div.nav_left{
    float: left;
}

div#nav div.nav_right{
    float: right;
    margin-top: 20px;
}

div.nav_right a{
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    padding: 14px 20px;
    color: black;
}

a.active{
    color: #fff !important;
    background-color: #080808;
    border-radius: 15px 0px 15px 0px;
}

.clear{
    clear: both;
}

div#banner img{
    width: 100%;
    height: 650px;
    object-fit: cover;
}

div#banner i{
    font-size: 130px;
    color: darkorange;
    position: absolute;
    top: 30%;
    left: 50%;
}

div.quote{
    font-family: unicode;
    background-color:rgba(255,255,255,0.5);
    
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 350px ;
    padding: 10px;
}

/* body */

div#body {
    padding: 50px;
}

div#body h2{
    font-size: 30px;
	text-align: center;
	color:#DAA520;
	padding-bottom: 50px
}

div#body hr{
    display:block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25px; 
	width:500px;
}

div.txt{
    margin-left: 70px;
	margin-right: 70px;
	text-align: center;
}

div.cof img{
    width: 40px;
	height: 40px;
	padding-bottom: 20px;
}

div.tea img{
    width: 40px;
	height: 40px;
	padding-bottom: 20px;
}

div.cup img{
    width: 40px;
	height: 40px;
	padding-bottom: 20px;
}

div.grid div{
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 50px;
	text-align: center;
}

div.grid{
	margin-left: 100px;
	margin-right: 100px;
	display: grid;
	grid-template-columns: auto auto auto;
}

/* our shop  */
div#about{
	padding-top: 50px
}
div#about h2{
	font-size: 30px;
	text-align: center;
	color:#DAA520;
	padding-bottom: 50px
}
div#about hr{
	display:block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25px; 
	width:500px;
}
div.grid2 div{
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 50px;
	text-align: center;
}
div.grid2{
	margin-left: 100px;
	margin-right: 100px;
	display: grid;
	grid-template-columns: auto auto;
}
div.ophoto img{
	width: 350px;
	height: 350px;
}

div.who h3{
	text-align: left;
}
div.who p{
	text-align: left;
	color:grey;
}

/* tdy special */

div#tdyspecial{
	padding-top: 50px
}
div#tdyspecial h2{
	font-size: 30px;
	text-align: center;
	color:#DAA520;
	padding-bottom: 50px
}
div#tdyspecial hr{
	display:block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25px; 
	width:500px;
}
div.grid3 div{
	padding-top: 50px;
	text-align: center;
}
div.grid3{
	margin-left: 100px;
	margin-right: 100px;
	display: grid;
	grid-template-columns: auto auto;
}
div.ophoto1 img{
	width: 450px;
	height: 450px;
}

/* daily menu */

div#dailymenu{
	padding-top: 50px;
}
div#dailymenu h2{
	font-size: 30px;
	text-align: center;
	color:#DAA520;
	padding-bottom: 50px
}
div#dailymenu hr{
	display:block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25px; 
	width:500px;
}
div.grid4 div{
	padding-top: 50px;
	text-align: center;
}
div.grid4{
	margin-left: 100px;
	margin-right: 100px;
	display: grid;
	grid-template-columns: auto auto;
	padding-bottom: 50px;
}

div.choose h4{
	text-align: left;
}
div.choose li{
	text-align: left;
}
div.imgs4 img{
	width: 250px;
	height: 250px;
}

/* footer  */
footer{
	background-color: black;
	height: 50px;
}
div.cpyright{
	padding-top: 10px;
	padding-left: 10px;
	color:white;
	float:left;
}
div.lovee{
	padding-top: 10px;
	padding-left: 10px;
	color: white;
	float: right;
}
